/* 
Company poliy:
Font: Sans-serif
Colors: #0F62FE for main elements, 
#BAE6FF for contrasting elements, 
#FFFFFF for white elements
Borders: Must be rounded on all elements
*/

* , *::after, *::before {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: #0F62FE;
    font-family: sans-serif;
}

#head-text {
    margin: 40px 0 40px 10px;
    color: #0F62FE;
}

.container {
    background-color: #FFFFFF;    
    top: 25%;
    left: 50%;
    min-height: 100px;
    max-width: 450px;
    width: 95%;
    position: absolute; 
    border-radius: 1px;
    transform: translate(-50%, -50%);
}

.input-task {
    width: 100%;
    padding: 0 0 10px 0;
}

.input-task input {
    font-size: 17px;
    border:2px solid #BAE6FF;
    margin: 0 2% 0 10px;
    padding: 0.5% 0 0.5% 1.5%;
    height: 35px;
    width: 70%;
    border-radius: 3%;
}

.input-task input:focus {
    outline: none;    
    border: 2px solid #0F62FE;
}

.input-task button {
    font-size: 17px;
    padding: 2.7% 7%;
    background-color: #0F62FE;
    color: #FFFFFF;
    border-radius: 5%;
    border: #BAE6FF;
}

.display-task {
    background-color: #FFFFFF;
    margin: 0;
    padding: 20px 0px 0 0;
    width: 100%;
    position: absolute;
    overflow-y: auto;
    max-height: 300px;
}

.display-task li{
    list-style: none;
    margin: 25px 0 25px 20px;
}

.display-task input {
    outline: none;
    border:2px solid #BAE6FF;    
}

.display-task input:focus {
    border: 2px solid #0F62FE;
}

.display-task p {
    margin-left: 10px;
    display: inline-block;
}

.display-task button {
    height: 15px;
    width: 20px;
    border: 0px solid #BAE6FF;
    border-radius: 7%;
    margin-right: 20px;
}

.display-task img {
    height: 15px;
    width: 20px;
}

.display-task::-webkit-scrollbar { 
    width: 10px;    
}

.display-task::-webkit-scrollbar-track { 
    background: #BAE6FF; 
    border-radius: 25px; 
}

.display-task::-webkit-scrollbar-thumb {    
    background: #0D75EC;
    border-radius: 25px; 
}


.strike-through {
    text-decoration: line-through;
}

.delete-button {
    float:right;
}

@media (max-width: 420px) {
    #push {
        padding: 12px 15px;
    }    
}

@media (max-width: 313px) {
    .container {
        text-align: center;
    }
    .input-task input {        
        margin: 0 2% 2% 10px;
        padding: 12px auto;
        width: 85%;
    }

    #push {
        padding: 12px auto;
        min-width: 85%;
        margin: 0 2% 2% 10px;
        border: 4px solid #0F62FE;
        border-radius: 3%;
    }
    ul {
        text-align: left;
    }    
}